<h2>@ViewBag.Title</h2>
<div>
    <button id="saveToDB">Сохранить в БД</button>
    <button id="saveFastToDB">Сохранить в БД (быстро)</button>
</div>
<div id="main-content">
    <div id="tablePreview"></div>
    <div id="datailInfo">
        <p><b>Карточка контрагента</b></p>
        <div id="detailContragentMain"></div>
    </div>
    <div class="clear"></div>
</div>

@section scripts
{
<script type="text/javascript">
        $(document).ready(function () {

            InitializePreview();

        });

        $(document).mousemove(function (e) {
            window.x = e.pageX;
            window.y = e.pageY;
        });

        function InitializePreview() {
            $("#datailInfo").css('display', 'none');

            $.ajax({
                url: '/api/preview/@ViewData["fileName"]',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    WriteResponse(data);
                },
                error: function (xhr, status, p3) {
                    alert(xhr.responseText);
                }
                });

            $("#detailItem").click(function (event) {
                event.preventDefault();
                DetailItem();
            });

        }

        function WriteResponse(contragents) {
            var strResult = "<table><th>Наименование</th><th>ИНН</th><th>КПП</th><th>&nbsp;</th>";
            $.each(contragents, function (index, contragent) {
                strResult += "<tr><td>" + contragent.Name +
                    "</td><td> " + contragent.INN +
                    "</td><td>" + contragent.KPP + "</td><td>" +
                    "<a id='detailItem' data-contragent='" + JSON.stringify(contragent) + "' onclick='DetailItem(this);' >Карточка</a></td></tr>";
            });
            strResult += "</table>";

            $("#tablePreview").html(strResult);

        }

        function DetailItem(el) {
            var data_str = $(el).data('contragent');

            ShowItem(data_str);
        }

        function ShowItem(contragent) {
            var table = $("#tablePreview");
            var tablePosition = table.position();

            if (contragent != null) {
                $("#datailInfo").css("margin-top", (y-150));
                $("#datailInfo").css('display', 'block');

                var strResult = "<table>";
                strResult += "<tr><td>Наименование</td><td>" + contragent.Name + "</td><tr>";
                strResult += "<tr><td>ИНН</td><td>" + contragent.INN + "</td><tr>";
                strResult += "<tr><td>КПП</td><td>" + contragent.KPP + "</td><tr>";
                strResult += "</table>";

                var AccountCount = contragent.Accounts.length;

                $.each(contragent.Accounts, function (index, account) {

                    if (AccountCount == 1) {
                        strResult += "<p><b>Информация о счёте</b></p>";
                    }
                    else {
                        strResult += "<p><b>Информация о счёте №" + (index + 1) + "</b></p>";
                    }

                    strResult += "<table>";
                    strResult += "<tr><td>Номер</td><td>" + account.Number + "</td><tr>";
                    strResult += "<tr><td>Банк</td><td>" + account.Bank.Name + "</td><tr>";
                    strResult += "<tr><td>БИК</td><td>" + account.Bank.Bic + "</td><tr>";
                    strResult += "<tr><td>К/счёт</td><td>" + account.Bank.CorrespondingAccount + "</td><tr>";
                    strResult += "</table>";
                });


                $("#detailContragentMain").html(strResult);
            }
            else {
                alert("Ошибка при открытии карточки");
            }
        }

        $('#saveToDB').on('click', function (e) {
            e.preventDefault();

            $.ajax({
                url: '/api/preview/PutAllContragents/@ViewData["fileName"]',
                type: 'PUT',
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    alert(data);
                    window.location.href = '@Url.Action("")';
                },
                error: function (xhr, status, p3) {
                    alert(xhr.responseText);
                }
                });
        });

        $('#saveFastToDB').on('click', function (e) {
            e.preventDefault();

            $.ajax({
                url: '/api/preview/PutAllContragentsFast/@ViewData["fileName"]',
                type: 'PUT',
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    alert(data);
                    window.location.href = '@Url.Action("")';
                },
                error: function (xhr, status, p3) {
                    alert(xhr.responseText);
                }
                });
        });

</script>
}